DATABASE_URL=sqlite:///./acem_vargminds.db
SECRET_KEY=lUxN6LJ_FCMyN4dPIkaGv4YJNbPmibU9tkGF1XDzxgw
ACCESS_TOKEN_EXPIRE_MINUTES=60
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=gemma3:4b
OLLAMA_TIMEOUT=60
FRONTEND_ORIGIN=http://localhost:5173
